
<!DOCTYPE html>
<html lang="en-us">
  <head>
​
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
​
    <title>Charlotte Hot Spots</title>
​
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel = "stylesheet" type = "text/css" href = "style.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
​
  </head>
​
  <body class="">
    <!-- Start of navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">Charlotte Hot Spots</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  ml-auto navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team Members</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of navbar -->
</br>
</br>
</br>
    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-lg-8">
            <h1>RESOURCES</h1>
            <p>The buttons listed below will direct you to our main source of datasets.</p>
            <a href="http://data.charlottenc.gov/" target="_blank" button type="button" class="btn btn-secondary btn-lg">Charlotte, NC Datasets</button></a>
            <a href="https://www.yelp.com" target="_blank" button type="button" class="btn btn-secondary btn-lg">Yelp</button></a>
    </br>
    </br>
        </div>
        <div class="container">
          <p><center>Click the button below to find a list of Lynx Transit routes to get around Charlotte.</center></p>
          <a href="/lynx_data" target="_blank" button type="button" class="btn btn-secondary btn-lg btn-block">Charlotte's Lynx Routes</button></a>
          <p><center>Now that you're on a train, what's your destination? Click below to find Charlotte's top tourist attractions.</center></p>
          <a href="/attraction_data" target="_blank" button type="button" class="btn btn-secondary btn-lg btn-block">Charlotte's Top Tourist Attractions</button></a>
          <p><center>Tired from visiting all of Charlotte's hot spots? What about a bite to eat? Click below to find Charlotte's top 50 5-Star rated restaurants.</center></p>
          <a href="/restaurants_data" target="_blank" button type="button" class="btn btn-secondary btn-lg btn-block">Top 50 5-Star Rated Restaurants in CLT</button></a>
        </br>
        </br>
        </br>
        <center><iframe src="https://giphy.com/embed/26AHQm2KtVLDaobeM" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></a></center>
        <p><big><center><b>THANKS FOR VISITING CHARLOTTE, NORTH CAROLINA!</b></center></big></p>
      </div>
</section>

</br>
</br>
</br>
    <!-- End of container -->
​
    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        &copy; Data Analytics Bootcamp 2019
      </p>
    </footer>
    <!-- End of footer -->
​

  </body>
​
</html>